* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}

.logo{  
    padding: 35px 70px;
}

.flexHeader {
    display: flex; 
    width: 100%;
    height: 130px;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.leftBlock {
    display: flex;
    align-items: center;
}

a{
    text-decoration: none;
}

.links {
    display: inline-flex; 
    justify-content: space-between;
    padding: 5px;
}

.links a{
    color: #323232;
    padding: 5px;
}

.allVaccanciesButton {    
    background: linear-gradient(227.37deg, #214187 -33.14%, #AB1368 168.89%);
    border-radius: 4px;
    align-items: right;
    margin: 45px 70px;

    padding: 9px 24px;
    height: 40px;
    width: 180px;
    text-align: center;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 40px;
    text-align: center;
    color: #FFFFFF;
    white-space: nowrap;
}

.flexFooter {
    width: 100%;
    display: flex;
    height: 130px;
    background-color: #5B5B5B;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

footer .links a{
    color: #FFFFFF;
}

.refs a {
    margin: 12px;
}

.refs {
    display: flex;
    align-items: center;
    white-space: nowrap;
    margin: 12px 70px;
}

.mainBody {
    display: flex;
    margin: 70px 100px;
    height: 100%;
    justify-content: space-between;
}

.vacancyInfo {
    width: 600px;
    padding-right: 100px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.vacancyDescription {
    border-left-style: solid;
    border-left-width: 3px;
    border-left-color: #dedede;
    padding: 100px;
    width: 60%;
}

.vacancyInfo h1 {
    font-size: 58px;
    line-height: 80px;
    color: #323232;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.vacancyInfo h3 {
    font-size: 18px;
    line-height: 50px;
    display: flex;
    align-items: center;
    text-align: right;

    color: #BBBDB7;
}

.vacancyInfo h2 {
    font-size: 24px;
    line-height: 50px;
    display: flex;
    align-items: center;

    color: #5B5B5B;
}

.vacancyInfo h4 {
    font-size: 18px;
    line-height: 22px;
    height: 50px;
    display: flex;
    align-items: center;

    color: #5B5B5B;
}

.vacancyInfo h5 {
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    font-stretch: wider;
    word-spacing: 2ch ;

    background: linear-gradient(63.63deg, #00A6D6 -32.84%, #214187 135.17%);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.vacancyInfo .buttons {
    display: flex;
    justify-content: space-between;
}

.respondButton {
    background: linear-gradient(63.63deg, #00A6D6 -32.84%, #214187 135.17%);
    border-radius: 4px;
    color:#FFFFFF;
    padding: 9px 24px;
    font-size: 18px;
    line-height: 22px;
}

.hhButton {
    background: #D74949;
    border-radius: 4px;
    color:#FFFFFF;
    padding: 9px 24px;
}





.vacancyDescription p {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;

    color: #000000;
}